<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SF2-2018-OWP2019</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>controller.InitListener</listener-class>
  </listener>
  <listener>
    <listener-class>controller.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.register.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>controller.status.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailureServlet</display-name>
    <servlet-name>FailureServlet</servlet-name>
    <servlet-class>controller.status.FailureServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailureServlet</servlet-name>
    <url-pattern>/Failure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UniqueUsernameServlet</display-name>
    <servlet-name>UniqueUsernameServlet</servlet-name>
    <servlet-class>controller.register.UniqueUsernameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UniqueUsernameServlet</servlet-name>
    <url-pattern>/UniqueUsername</url-pattern>
  </servlet-mapping>
  <filter>
  <filter-name>CorsFilter</filter-name>
  <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
	</filter>
<filter-mapping>
  <filter-name>CorsFilter</filter-name>
  <url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>